.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main{
  display: flex;
  align-content: center;
}

.result-image {
  margin-top: 20px;
  width: 350px;
}